<!DOCTYPE html>
<html lang="en">

<head>
    <title>GeoQuizz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.js"></script>
    <link rel="stylesheet" href="player.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">

    <script src="https://npmcdn.com/leaflet-geometryutil"></script>

</head>

<body>

    <div id="application" class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h3>GeoQuizz</h3>
                <div class="input-group">
                    <section v-if="isStarted == false">
                        <p v-if="this.erreur == true">
                            <b>Veuillez entrer un pseudo et sélectionner une série</b>
                        </p>
                        <p>
                            <label for="pseudoUser">Entrez votre pseudo</label>
                            <br>
                            <input type="text" name="pseudoUser" v-model="pseudo">
                        </p>
                        <series v-bind:nbseries="listeSeries" v-on:getidserie="getIdSerie($event)"></series>
                        <p>
                            <button class="btn btn-primary" v-on:click="startGame">Lancer la partie</button>
                        </p>
                    </section>
                    <section v-else>
                        <h4>Bonne chance !</h4>
                    </section>
                </div>
            </div>

            <div class="col-sm-9">
                <h4><small>PARTIE EN COURS</small></h4>
                <!--AFFICHAGE DU JEU-->
                <section v-if="isStarted">
                    <!--PARTIE EN COURS-->
                    <div v-if="this.compteurPhotos < 10 && this.over == false">
                        <div class="col-sm-7">
                            <photos v-bind:urlphoto="listePhotos[compteurPhotos]" v-on:valider="validChoice">
                            </photos>
                        </br>
                            <h4>Votre score: {{this.score}}</h4>
                            <div v-if="this.time > 0">
                                    <p>Temps restant: {{this.time}} secondes</p>
                                </div>
                                <div v-else>
                                    <p>Temps écoulé !</p>
                                </div>
                        </div>
                        <div class="col-sm-2">
                            <div v-show="isStarted && this.compteurPhotos < 11 && this.over == false" class="row">
                                <div id="map" class="map" v-on:click="getClickPosition"></div>
                            </div>
                        </div>


                    </div>
                    <!--PARTIE TERMINEE-->
                    <div v-else>
                        <p>Partie terminée</p>
                        <p>votre score est de {{this.score}}, voulez-vous l'enregistrer ?</p>
                        <button v-on:click="saveScore">Oui</button>
                        <button v-on:click="backHome">Non</button>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <p>Footer Text</p>
    </footer>

</body>
<script src="player.js"></script>

</html>